.Balance{
    font-family: Arial, sans-serif;
    line-height: 1.5rem;
    font-size: 1.5rem;
    color: #333333;
    margin: 0;
    padding: 0;
}

.AccountNo{
    color: #999999;
    font-family: Arial, sans-serif;
    line-height: .75rem;
    font-size: .85rem;
    margin-top: .25rem;
    padding: 0;
}

.Currency{
    color: #999999;
    font-family: Arial, sans-serif;
    line-height: .75rem;
    font-size: .75rem;
    margin-top: .25rem;
    padding: 0;
}

.withdraw-btn{
    --box-shadow: none;
    height: 45px;
    color: #2097FF;
    color: #fff;
    font-size: 1rem;
    padding: 0;
    margin: 0;
 }

 .error{
     color: red;
     font-size: 12px;
 }