<ion-content class="vertical-align-content">
  <div class="ion-padding" text-center>
      <ion-grid center>
        <ion-row>
          <ion-col size-md="6" offset-md="3" size-sm="12">
              <ion-grid>
                  <ion-row>
                    <ion-col>
                        <ion-text color="dark" text-center>
                            <p class=AccountNo>Account: {{this.accounsService.ActiveUser.accountId}}<p>
                            <h1 class="Balance">{{this.accounsService.ActiveUser.currencySymbol}} {{this.accounsService.ActiveUser.balance}}</h1>
                            <p class="Currency">{{this.accounsService.ActiveUser.currency}}</p>
                        </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col>
                          <ion-chip color="warning" (click)="ShowLoggedInUsers()">
                              <ion-icon name="add-circle-outline"></ion-icon>
                              <ion-label>Switch Users</ion-label>
                            </ion-chip>                            
                            <ion-chip style="background: #2097FF; color: #ffffff" (click)="ToggleWithdrawForm()">
                              <ion-icon name="log-in" style="color: #ffffff"></ion-icon>
                              <ion-label>Withdraw</ion-label>
                            </ion-chip>
                      </ion-col>
                  </ion-row>
                  <form [formGroup]="WithdrawForm" *ngIf="ShowWithdrawForm">
                      <ion-row>
                          <ion-col>
                            <ion-item>
                              <ion-label position="floating">AMOUNT</ion-label>
                              <ion-input formControlName="Amount"></ion-input>
                            </ion-item>
                          </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col>
                              <ion-button [disabled]="!WithdrawForm.valid" class="withdraw-btn" expand="full" (click)="Withdraw()">WITHDRAW</ion-button>
                          </ion-col>
                      </ion-row>
                    </form>
                </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>
