
.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
     height: 100%;
}

ion-button{
    height: 40px;
    border-radius: 30px;
}

.c-button{
    --box-shadow: none;
    font-family: Arial, Helvetica, sans-serif;
    height: 45px;
    color: #fff;
    font-size: .85rem;
    padding: 0;
    margin: 0;
}

.my-custom-modal-css .modal-wrapper {
    height: 20%;
    top: 80%;
    position: absolute; 
    display: block;  
 }