<ion-content class="vertical-align-content">
  <div class="ion-padding" text-center>
      <ion-grid center>
        <ion-row>
          <ion-col size-md="6" offset-md="3" size-sm="12">
              <ion-grid>
                  <ion-row>
                    <ion-col>
                        <ion-text color="dark" text-center>
                            <h1>E-ATM</h1>
                            <p>PLEASE LOGIN TO CONTINUE</p>
                        </ion-text>
                    </ion-col>
                  </ion-row>
                  <form [formGroup]="AccountForm">
                    <ion-row>
                        <ion-col>
                          <ion-item>
                            <ion-label position="floating">ACCOUNT NO.</ion-label>
                            <ion-input formControlName="AccountNo"></ion-input>
                          </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                          <ion-item>
                            <ion-label position="floating">PIN</ion-label>
                            <ion-input type="number" formControlName="Pin"></ion-input>
                          </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-button class="c-button" [disabled]="!AccountForm.valid" color="success" expand="full" (click)="Login()">LOGIN</ion-button>
                        </ion-col>
                    </ion-row>
                  </form>
                </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>
