<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
       Switch User
      </ion-title>
        <ion-button slot="secondary" color="danger" (click)="Logout()">
            <ion-icon name="log-in"></ion-icon>
        </ion-button>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let account of this.accountsService.LoggedInUsers" (click)="SwitchUser(account)">
          <ion-label>{{account.accountId}}</ion-label>
        </ion-item>
        <ion-item (click)="NewUserLogin()">
          <ion-icon name="add-circle-outline" color="success"></ion-icon> <ion-label>  New User Login</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
